{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
      	<div class="p-4 mb-3 rounded bg-info text-white font-italic">
		<div style="margin:0 auto;width:27vw"><p style="text-align: left;">
		<!--<aside class="col-md-12 blog-sidebar">-->
		    <!--<div class="h4 mb-3 rounded bg-info text-white font-italic">-->
		<h5>
		 {% csrf_token %}
		 <br>
		 {{ form.as_p }}
		 <h5>
		 <center>
		 	<br>
		  <input type="submit" value="{% trans 'Submit' %}" />
		</center>
		 </div>
		</div>

</form>
{% endblock %}
